html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url(../IMG/rawpixel-267079-unsplash.jpg );
  color: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%)
  z-index: 150;
}
h1{
  font-size: 50px;
  font-weight: bold;
  font-family: 'Raleway'sans-serif;
}
nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  z-index: 60;
}

nav ul {
  line-height: 40px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  transition: 1s;
  text-transform: uppercase;
  font-weight: bold;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 16px 20px;;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
nav ul li a:hover {
  color: white;
  text-decoration: none;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

@media(max-width: 786px) {

.logo {
  position: fixed;
  top: 0;
  margin-top: 16px;
}
nav ul {
  max-height: 0px;
  background: #000;
}
nav.black ul {
  background: #000;
}
nav ul li {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-right: 0px;
}
.menu-icon {
  display: block;
}
.typewriter h1 {
  overflow:hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15px solid orange; /* The typwriter cursor */
  white-space :nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15px; /* Adjust as needed */
  animation:
  typing 3.5s steps(40, end),
  blink-caret .75s step-end;
  font-size: 34.5px;
}
h4{
  font-size: 40px;
  }
}
.intro {
  color: white;
  height:auto;
  margin: 0 auto;
  padding: 50px;
  font-family: 'Raleway', sans-serif;
  margin-top: 35%;
  text-align: center;

}
.logo{
  font-family: 'Caesar Dressing';
  font-size:60px;
  padding-left: 1rem !important;
  color: white;
  letter-spacing: -5px;
  line-height: 25px;
  position: fixed;
  float: left;
  color: #fff;
  font-weight: bold;
  margin-top: 10px;
}
.logo:hover{
  color: white;
}
.scroll{
  margin-top: 33px;
  margin-bottom: 10rem;
  margin-left: -18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  color: #0f05ff;
  font-size: 14px;
}
/* Navigation scroll */
.middle{
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 60px;
}
.mouse{
  width: 20px;
  height: 33px;
  border: 4px solid #0f05ff;
  border-radius: 40px;
}
.mouse::before{
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  top: 106%;
  background: white;
  transform: translateX(50%);
  border-radius: 50%;
  opacity: 1;
  animation: mouse 2s infinite;
}
@keyframes mouse {
  from{
    opacity: 1;
    top: 2px;
  }
  to{
    opacity: 0;
    top: 27px;
  }
}
.tag{
  height: 500px;
  background-color: black;
  width: 50%;
  background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url(../IMG/hack-capital-568971-unsplash.jpg );
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;


}
.text-right{
  float: right;
}
.content {
  width: 94%;
  margin: 16em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}
footer {
  padding: 5rem;
  background: grey;
}
ul {
  font-size: 2rem;
}
p {
  font-size: 1.5rem;
  margin: .5rem 0;
}
